@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
    url('../../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../../fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../../fonts/OpenSans-Bold.woff') format('woff');
}
